INFS3204Prac4/ClinicWebApp/ClinicWebApp/Service References/ServiceReference1/ADODatabaseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ADODatabaseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49690/ADODatabaseService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49690/ADODatabaseService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49690/ADODatabaseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClinicWebApp" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IADODatabaseService_PlayerRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:PlayerRegistration" />
  </wsdl:message>
  <wsdl:message name="IADODatabaseService_PlayerRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlayerRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IADODatabaseService_ClubRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:ClubRegistration" />
  </wsdl:message>
  <wsdl:message name="IADODatabaseService_ClubRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClubRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IADODatabaseService_GetPlayerInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerInfo" />
  </wsdl:message>
  <wsdl:message name="IADODatabaseService_GetPlayerInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IADODatabaseService_GetClubInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClubInfo" />
  </wsdl:message>
  <wsdl:message name="IADODatabaseService_GetClubInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClubInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IADODatabaseService_NewMembership_InputMessage">
    <wsdl:part name="parameters" element="tns:NewMembership" />
  </wsdl:message>
  <wsdl:message name="IADODatabaseService_NewMembership_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewMembershipResponse" />
  </wsdl:message>
  <wsdl:message name="IADODatabaseService_GetMembership_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMembership" />
  </wsdl:message>
  <wsdl:message name="IADODatabaseService_GetMembership_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMembershipResponse" />
  </wsdl:message>
  <wsdl:message name="IADODatabaseService_UpdateMembership_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMembership" />
  </wsdl:message>
  <wsdl:message name="IADODatabaseService_UpdateMembership_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMembershipResponse" />
  </wsdl:message>
  <wsdl:portType name="IADODatabaseService">
    <wsdl:operation name="PlayerRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IADODatabaseService/PlayerRegistration" message="tns:IADODatabaseService_PlayerRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IADODatabaseService/PlayerRegistrationResponse" message="tns:IADODatabaseService_PlayerRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClubRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IADODatabaseService/ClubRegistration" message="tns:IADODatabaseService_ClubRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IADODatabaseService/ClubRegistrationResponse" message="tns:IADODatabaseService_ClubRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IADODatabaseService/GetPlayerInfo" message="tns:IADODatabaseService_GetPlayerInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IADODatabaseService/GetPlayerInfoResponse" message="tns:IADODatabaseService_GetPlayerInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClubInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IADODatabaseService/GetClubInfo" message="tns:IADODatabaseService_GetClubInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IADODatabaseService/GetClubInfoResponse" message="tns:IADODatabaseService_GetClubInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewMembership">
      <wsdl:input wsaw:Action="http://tempuri.org/IADODatabaseService/NewMembership" message="tns:IADODatabaseService_NewMembership_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IADODatabaseService/NewMembershipResponse" message="tns:IADODatabaseService_NewMembership_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMembership">
      <wsdl:input wsaw:Action="http://tempuri.org/IADODatabaseService/GetMembership" message="tns:IADODatabaseService_GetMembership_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IADODatabaseService/GetMembershipResponse" message="tns:IADODatabaseService_GetMembership_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMembership">
      <wsdl:input wsaw:Action="http://tempuri.org/IADODatabaseService/UpdateMembership" message="tns:IADODatabaseService_UpdateMembership_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IADODatabaseService/UpdateMembershipResponse" message="tns:IADODatabaseService_UpdateMembership_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IADODatabaseService" type="tns:IADODatabaseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PlayerRegistration">
      <soap:operation soapAction="http://tempuri.org/IADODatabaseService/PlayerRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClubRegistration">
      <soap:operation soapAction="http://tempuri.org/IADODatabaseService/ClubRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerInfo">
      <soap:operation soapAction="http://tempuri.org/IADODatabaseService/GetPlayerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClubInfo">
      <soap:operation soapAction="http://tempuri.org/IADODatabaseService/GetClubInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewMembership">
      <soap:operation soapAction="http://tempuri.org/IADODatabaseService/NewMembership" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembership">
      <soap:operation soapAction="http://tempuri.org/IADODatabaseService/GetMembership" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMembership">
      <soap:operation soapAction="http://tempuri.org/IADODatabaseService/UpdateMembership" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ADODatabaseService">
    <wsdl:port name="BasicHttpBinding_IADODatabaseService" binding="tns:BasicHttpBinding_IADODatabaseService">
      <soap:address location="http://localhost:49690/ADODatabaseService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>