INFS3204Prac3/INFS3204Prac3/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49348/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/INFS3204Prac3" />
  <xs:element name="SaveInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/INFS3204Prac3" minOccurs="0" name="stock" nillable="true" type="q1:Stock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/INFS3204Prac3" minOccurs="0" name="GetStoreResult" nillable="true" type="q2:Store" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/INFS3204Prac3" minOccurs="0" name="GetAllStoresResult" nillable="true" type="q3:ArrayOfStore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>